---
title: Laravel Currency
template: default.twig
images: /uploads/projects/laravel-currency
github: http://github.com/torann/laravel-currency
documentation: /projects/laravel-currency/doc
---
{% include 'project_header.twig' with {'intro': 'Laravel Currency provides basic multi-currency functions for Laravel using Yahoo Finance and OpenExchangeRates.org.'} %}

<div class="wrapper">
    <h2>Why Laravel Currency</h2>

    <p>The Laravel Currency package makes it easy to implement multi-currency pricing into your application and store the exchange data for fast real-time conversions.</p>

</div>