//
// Breadcrumbs
// --------------------------------------------------


.breadcrumbs {
  //margin: 0 0 $breadcrumb-padding;
  padding: $breadcrumb-padding;
  background: $breadcrumb-bg;
  border-radius: $border-radius-large;

  i {
    font-size: 14px;
    line-height: 29px;
  }

  .name {
    font-size: 14px;
    line-height: 25px;
  }

  .top-level {
    color: $color-midnight;
  }

  .divider {
    color: #d9d9d9;
    font-size: 20px;
    line-height: 25px;
    padding: 0 5px;
    position: relative;
    top: 1px;
  }
}