//
// Breadcrumbs
// --------------------------------------------------


.breadcrumbs {
  padding: 0 0 $breadcrumb-padding;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      font-size: 14px;
      line-height: 25px;

      &:before {
        content: '›';
        color: #d9d9d9;
        font-size: 20px;
        line-height: 25px;
        padding: 0 5px;
        position: relative;
        top: 1px;
      }

      &:first-child {
        &:before {
          display: none;
        }
      }

      &:last-child {
        a {
          color: #B3B3B3;
          font-weight: normal;
        }
      }
    }
  }
}