//
// Code (inline and block)
// --------------------------------------------------


// Inline and block code styles
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}


// Inline code
code {
  padding: 0.2em 0;
  color: $code-color;
  background-color: $code-bg;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 80%;
  margin: 0;

  &:before,
  &:after {
    letter-spacing: -0.2em;
    content: "\00a0";
  }
}

// User input typically entered via keyboard
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: $kbd-color;
  background-color: $kbd-bg;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}

// Blocks of code
pre {
  display: block;
  padding: 15px 20px;
  margin: 20px 0;
  font-size: 14px; // 14px to 13px
  word-break: break-all;
  word-wrap: break-word;
  color: $pre-color;
  background-color: $pre-bg;
  border: none;
  border-radius: 3px;

  // Account for some code outputs that place code tags in pre tags
  code {
    padding: 0;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
    font-size: 100%;

    &:before,
    &:after {
      letter-spacing: inherit;
      content: "";
    }
  }
}

p + pre {
    margin-top: 0;
}

// Enable scrollable blocks of code
.pre-scrollable {
  max-height: $pre-scrollable-max-height;
  overflow-y: scroll;
}

hr {
  border: none;
  border-top: 2px solid #F4F4F4;
  margin: 20px 0 20px;
}