//
// Documentation Styles
// --------------------------------------------------


#documentation {
  display: table;

  h1 {
    //padding-bottom: 9px;
    //margin-bottom: 20px;
    //border-bottom: 1px solid $border-color;

    .btn.tiny {
      margin: 6px 0 0;
    }
  }

  .aside {
    display: table-cell;
    vertical-align: top;
    width: 250px;
    min-width: 250px;
    padding-top: 10px;

    > ul > li {
      border-bottom: 1px solid $gray-lighter;

      &:last-child {
        border-bottom: none;
      }

      a {
        text-decoration: none;
      }
    }
  }

  article {
    display: table-cell;
    vertical-align: top;
    padding: 0 0 0 35px;
    width: 100%;

    .content-tools {
      float: right;
      font-size: 12px;
      margin: .3em 0 1em 1em;
    }

    blockquote {
      position: relative;
      font-size: 95%;
      border-left: 0;
      background-color: #F7EED1;
      padding: 15px 25px;
      color: #424242;

      &:before {
        content: "!";
        position: absolute;
        background: #A0987D;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        left: -10px;
        top: -10px;
        font-size: 2.1rem;
        line-height: 27px;
        text-align: center;
        border: 3px solid #F7F7F7;
        color: #F7F7F7;
        font-weight: 700;
      }

      a {
        color: #424242;
        text-decoration: underline;

        &:active,
        &:focus,
        &:hover {
          color: #0e0e0e;
          text-decoration: none;
        }
      }
    }
  }

  @media (max-width: 850px) {
    & {
      display: block;
    }

    .aside {
      display: block;
      width: 100%;
      border-right: none;
      background: #fff;
      padding: 10px;
      margin: 10px 0;
    }

    article {
      display: block;
      padding-left: 0;
    }
  }

  @media (max-width: 970px) {
    .aside {
      min-width: 200px;

      > ul > li a {
        font-size: 14px;
      }
    }
  }
}