//
// Documentation Styles
// --------------------------------------------------


#documentation {

  h1 {
    .btn.tiny {
      margin: 6px 0 0;
    }
  }

  .aside,
  .sticky-wrapper {
    display: block;
    width: 250px;
    float: left;

    > ul > li {
      border-bottom: 1px solid $gray-lighter;

      &:last-child {
        border-bottom: none;
      }

      a {
        text-decoration: none;
      }
    }
  }

  article {
    padding: 0 0 0 285px;

    .content-tools {
      float: right;
      font-size: 12px;
      margin: .3em 0 1em 1em;
    }

    blockquote {
      position: relative;
      font-size: 95%;
      border-left: 0;
      background-color: #F7EED1;
      padding: 15px 25px;
      color: #424242;

      &:before {
        content: "!";
        position: absolute;
        background: #A0987D;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        left: -10px;
        top: -10px;
        font-size: 2.1rem;
        line-height: 27px;
        text-align: center;
        border: 3px solid #F7F7F7;
        color: #F7F7F7;
        font-weight: 700;
      }

      a {
        color: #424242;
        text-decoration: underline;

        &:active,
        &:focus,
        &:hover {
          color: #0e0e0e;
          text-decoration: none;
        }
      }
    }
  }

  @media (min-width: 850px) {
    .aside.stuck {
      top: 10px;
      position: fixed;
      background-color: $body-bg;
    }
  }

  @media (max-width: 850px) {
    & {
      display: block;
    }

    .aside,
    .sticky-wrapper {
      display: block;
      width: auto;
      border-right: none;
      background: #fff;
      padding: 0 15px;
      float: none;
      margin: 10px -15px;

      ul {
        padding: 0;

        > li a {
          padding: 10px 0;
        }
      }
    }

    article {
      display: block;
      padding-left: 0;
    }
  }

  @media (max-width: 970px) {
    .aside {
      > ul > li a {
        font-size: 14px;
      }
    }
  }
}