//
// Navigation
// --------------------------------------------------

.wrapper header nav ul li a,
.wrapper .portfolio .filters ul li {
  transition: .2s all;
}

.wrapper header nav {
  float: right;
  line-height: 75px;

  ul {
    margin: 0;

    li {
      display: inline-block;
      margin-left: 25px;
      position: relative;

      &:first-child {
        margin-left: 0;
      }

      a {
        color: #848484;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 300;
        text-decoration: none;

        &.icon {
          font-size: 20px;
          margin: 0 0 0 -3px;
        }
      }

      &.active a,
      a:hover {
        color: #c4c4c4;
      }

      ul {
        position: absolute;
        top: 100%;
        min-width: 180px;
        background-color: #3b3b3b;
        line-height: 25px;
        z-index: 1;
        opacity: 0;
        visibility: hidden;

        li {
          margin: 0;
          display: block;
          border-bottom: 1px solid #4c4c4c;
          position: relative;

          a {
            display: block;
            font-size: 11px;
            font-weight: 400;
            padding: 15px 20px;
            line-height: 15px;
            color: #C0BDBF;
          }

          ul {
            position: absolute;
            left: 100%;
            top: 0;
            opacity: 0 !important;
            visibility: hidden !important;
          }

          &:hover ul {
            opacity: 1 !important;
            visibility: visible !important;
          }
        }
      }

      &:hover ul {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  @media screen and (max-width: 767px) {

    & {
      float: left;
      line-height: 25px;
      margin-top: 90px;
      width: 100%;
      background-color: #3b3b3b;

      ul {
        display: none;
        padding: 0;

        li {
          display: block;
          margin: 0;
          border-bottom: 1px solid #757575;
          padding: 8px 15px;

          ul {
            display: block;
            position: relative;
            opacity: 1;
            visibility: visible;
          }

          ul li {
            padding: 0;

            &:last-child {
              border-bottom: none;
            }

            a {
              padding: 8px 15px;
              color: #848484;
            }

            ul {
              display: block;
              position: relative;
              left: 0;
              opacity: 1 !important;
              visibility: visible !important;
            }

            ul li {
              margin-left: 12px !important;
            }
          }

          a {
            font-size: 13px;
          }
        }
      }
    }
  }
}

//== Mobile Navigation
//
.wrapper header .mobile-menu {
  width: 32px;
  height: 25px;
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 30px;
  display: none;

  ul {
    margin: 0;
  }

  .line {
    height: 2px;
    width: 30px;
    display: inline-block;
    position: relative;
    background-color: #3b3b3b;
    transition: .2s all;

    &:before {
      content: "";
      height: 2px;
      width: 30px;
      position: absolute;
      top: -7px;
      background-color: #3b3b3b;
      transition: .2s all;
    }

    &:after {
      content: "";
      height: 2px;
      width: 30px;
      position: absolute;
      top: 7px;
      background-color: #3b3b3b;
      transition: .2s all;
    }
  }

  &.open .line {
    background-color: transparent;

    &:before {
      transform: translateY(7px) rotateZ(-45deg);
    }

    &:after {
      transform: translateY(-7px) rotateZ(45deg);
    }
  }

  @media screen and (max-width: 767px) {
    & {
      display: block;
    }
  }
}

//= Filters
//
.wrapper .portfolio .filters {
  margin-top: 50px;

  span {
    display: inline-block;
    margin-right: 15px;
  }

  ul {
    display: inline-block;

    li {
      display: inline-block;
      font-size: 16px;
      color: #787878;
      margin-left: 15px;
      cursor: pointer;
      padding: 2px 10px;
      border-radius: 3px;

      &.active,
      &:hover {
        background-color: #fff;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }

  @media screen and (max-width: 375px) {
    & span {
      display: none;
    }
  }
}

//= Aside Navigation
//
.aside {

  > ul {
    list-style: none;
    padding: 0 0 0 10px;
    margin: 0;

    > li {
      a {
        line-height: 1.5;
        display: block;
        padding: 5px 0;

        &:hover {
          color: darken($link-color, 30%);
        }
      }

      &.active a {
        color: darken($link-color, 30%);
        font-weight: 500;
      }
    }
  }
}