---
title: LyftenBloggie
template: default.twig
images: /uploads/projects/lyftenbloggie
download: lyftenbloggie.tar
edit_url: https://github.com/torann/lyften.com/tree/master/source/projects/lyftenbloggie/_doc/{filename}
doc_url: /projects/lyftenbloggie/doc
---
{% include 'project_header.twig' with {'intro': 'LyftenBloggie is a full featured, user friendly and powerful blog system component for the Joomla! 1.5. LyftenBloggie is both free and opensource.'} %}

<div class="wrapper">

    <blockquote class="error">
        <p><strong>NOTICE</strong> This package is no longer maintained.</p>
    </blockquote>

    <h2>Everything you Need</h2>
    <p>With powerful tools under the hood, LyftenBloggie is on par or better than many of the other Joomla blogging components of its kind. Lyften.com is also committed to making the latest blogging technology available in every update(such as Trackback).</p>

    <p>LyftenBloggie is ideal for anyone looking to create a blog within Joomla. Whether it's your first or hundreth blog, LyftenBloggie has all the tools you need to quickly start.</p>

    <ul>
        <li>
            <strong>Comments</strong>
            <p>Visitors to your site can leave comments on individual entries, and through Trackback or Pingback can comment on their own site.</p>
        </li>
        <li>
            <strong>Themes</strong>
            <p>LyftenBloggie comes with a full theme system which makes designing a piece of cake.</p>
        </li>
        <li>
            <strong>Access Control</strong>
            <p>LyftenBloggie's advanced user system allows for different privileges  with regard to publishing, editing, and options.</p>
        </li>
        <li>
            <strong>Trackback System</strong>
            <p>Peer-to-peer communication and notifications between web sites.</p>
        </li>
    </ul>


    <h2 id="features">Features</h2>

    <h4>Built for Joomla!<sup style="font-size: 12px;">®</sup> 1.5</h4>
    <p>LyftenBloggie is exclusive to the Joomla 1.5, and it makes use of all the great technologies Joomla 1.5 has to offer.</p>

    <h4>Requirements</h4>
    <ul>
        <li><a href="http://www.joomla.org/" target="_blank">Joomla</a> version 1.5.0 or greater</li>
        <li><a href="http://www.php.net/" target="_blank">PHP</a> version 5.0 or greater (not tested in 5.3) with Multi-Byte String function enabled</li>
        <li><a href="http://www.mysql.com/" target="_blank">MySQL</a> version 5.0 or greater</li>
    </ul>

    <h4>Feature Breakdown</h4>
    <p>The following is a list of some of the features that come standard with LyftenBloggie, however future builds will use plugins that will extend what LyftenBloggie already does, so the actual functionality will be nearly limitless.</p>
    <ul>
        <li>
            <p><strong>Cross-Blog Communication</strong><br>Fully supports the Trackback standards</p>
        </li>
        <li>
            <p><strong>Comments</strong><br>Visitors can leave comments on individual entries, and through Trackback can comment on their own site.</p>
        </li>
        <li>
            <p><strong>Spam protection</strong><br>With a built-in Captcha script, Trackbacks Spam Filter, and an intergration with Akismet, LyftenBloggie can help to manage and eliminate comment spam.</p>
        </li>
        <li>
            <p><strong>XML-RPC interface</strong><br>LyftenBloggie currently supports, by use of an Joomla plugin, an extended version of the Blogger API, MetaWeblog API, and the MovableType API.</p>
        </li>
        <li>
            <p><strong>Multiple authors</strong><br>LyftenBloggie takes advantage of Joomla's user system allowing administrators to add, remove, or restrict authors.</p>
        </li>
        <li>
            <p><strong>Access Groups</strong><br>With an advanced user system, LyftenBloggie allows for different user privileges with regard to publishing, editing, and options.</p>
        </li>
        <li>
            <p><strong>Avatar</strong><br>Built-in Avatar system, with an option of bringing in avatars from other systems such as JUser, JomSocial, and Community Builder.</p>
        </li>
        <li>
            <p><strong>Workflow</strong><br>You can have types of users that can only post drafts, not publish to the front page.</p>
        </li>
    </ul>
</div>