---
title: Laravel Geoip
template: default.twig
images: /uploads/projects/laravel-geoip
github: http://github.com/torann/laravel-geoip
edit_url: https://github.com/torann/lyften.com/tree/master/source/projects/laravel-geoip/_doc/{filename}
doc_url: /projects/laravel-geoip/doc
---
{% include 'project_header.twig' with {'intro': 'Determine the geographical location of website visitors based on their IP addresses.'} %}

<div class="wrapper">
    <h2>Why Laravel Geoip</h2>

    <p>With the Laravel Geoip package you can easily determine your user's general location and currency by simply looking up thier IP address. Knowing this can better help you in knowing what to show them and in general making their experience on your website more enjoyable and easier to us.</p>

</div>