---
title: Duct
template: default.twig
images: /uploads/projects/duct
github: http://github.com/torann/asset-duct
edit_url: https://github.com/torann/lyften.com/tree/master/source/projects/duct/_doc/{filename}
documentation: /projects/duct/doc
---
{% include 'project_header.twig' with {'intro': 'A simplified asset pipeline to help with the creation and maintenance of the essential assets in a Laravel based applications.'} %}

<div class="wrapper">
    <h2>Why Duct?</h2>
    <p>Duct is a asset pipeline package for the Laravel framework. It shares the same philosophy as Laravel, development should be an enjoyable and fulfilling experience. When it comes to managing your assets it can become quite complex and a pain in the arse. These days developers are able to use a range of pre-processors such as Sass, Less, and CoffeeScript. Duct is able to handle the processing of these assets instead of relying on a number of individual tools.</p>

    <h2>Features</h2>

    <ul>
        <li>Out of the box supported for LESS, CSS, and JavaScript files.</li>
        <li>Support for custom post processors (SCSS, CoffeeScript, etc.)</li>
        <li>Combining and minifying of JavaScript and CSS</li>
        <li>Organize assets into manifest files</li>
        <li>Asset fingerprinting with support for images</li>
        <li>Asset support inside of LESS/CSS</li>
    </ul>
</div>