<div class="widget widget-instagram">
    <div class="heading">Instagram</div>
    <script src="http://snapwidget.com/js/snapwidget.js"></script>
    <iframe src="http://snapwidget.com/in/?u=bHlmdGVufGlufDYwfDN8M3wzNjNmNDh8bm98MTB8bm9uZXxvblN0YXJ0fHllc3x5ZXM=&ve=280914" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
</div>