<div class="sidebar-content">
    <h4>Instagram</h4>
    <script src="http://snapwidget.com/js/snapwidget.js"></script>
    <iframe src="http://snapwidget.com/in/?u=bHlmdGVufGlufDIwMHwyfDN8fG5vfDV8bm9uZXxvblN0YXJ0fHllc3x5ZXM=&ve=031115" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
</div>