<div class="widget">
    <div class="heading">Subscribe by Email</div>
    <p>This is Photoshop's version of Lorem Ipsum. </p>
    <form class="subscribe">
        <input type="email" placeholder="Enter your email address...">
        <input type="submit" value="Subscribe">
    </form>
</div>