<div class="widget widget-tags">
    <div class="heading">Tags</div>
    <div class="list-tags">
        <a href="#">Art</a>
        <a href="#">Blog</a>
        <a href="#">Portfolio</a>
        <a href="#">Responsive</a>
    </div>
</div>