<div class="widget">
    <div class="heading">Twitter Feed</div>
    <div class="tweets">
        <div class="show-tweets"></div>
        <a href="https://twitter.com/Lyften" class="follow-twitter">follow me</a>
    </div>
</div>