<div class="sidebar-content">
    <h4>Twitter Feed</h4>
    <div class="tweets">
        <div class="show-tweets"></div>
        <a href="https://twitter.com/Lyften" class="btn">follow me</a>
    </div>
</div>