---
title: Laravel Weather
template: default.twig
images: /uploads/projects/laravel-weather
github: http://github.com/torann/laravel-weather
---
{% include 'project_header.twig' with {'intro': 'Simple weather package for Laravel that utilizes the OpenWeatherMap.org API.'} %}

<div class="wrapper">

    <h2>Installation</h2>

    <p>To get the latest version of Laravel Weather simply require it in your <code>composer.json</code> file.</p>

    <pre><code class="language-js">"torann/laravel-weather": "0.1.*@dev"</code></pre>

    <p>You'll then need to run <code>composer install</code> to download it and have the autoloader updated.</p>

    <h3>Publish package assets:</h3>

    <pre><code class="language-bash">$ php artisan asset:publish torann/laravel-weather</code></pre>

    <p>Add the following to the page where the Laravel Weather widget script will be active:</p>

    <pre><code>&#123;&#123; HTML::style('/packages/torann/laravel-weather/weather.css') }}</code></pre>

    <p>If using <a href="{{ url('/projects/duct') }}">Duct</a> add this to the CSS manifest file:</p>

    <pre><code> *= require torann/laravel-weather/weather.css</code></pre>

    <h2>Rendering</h2>

    <p>Rendering weather by point:</p>

    <pre><code class="language-php">Weather::renderByPoint($lat, $lng)</code></pre>

    <p>Rendering weather by city name:</p>

    <pre><code class="language-php">Weather::renderByName('Hamden, CT')</code></pre>

    <h2>Example</h2>

    <p>An live example can be seen on <a href="https://snowcrew.org" target="_blank">Snowcrew.org</a></p>
</div>