---
title: Portfolio
description: Portfolio - A few of my current and past client projects.
template: default.twig
---
<div class="page-title">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <h1><b>Portfolio.</b><br>A few of my current and past client projects.</h1>
        </div>
    </div>
</div>

<div class="portfolio">

    <div class="filters">
        <span>Filters :</span>
        <ul id="filters">
            <li class="active" data-filter="*">All</li>
            <li data-filter=".web-application">Web Application</li>
            <li data-filter=".web-design">Web Design</li>
            {#<li data-filter=".design">Design</li>#}
            <li data-filter=".branding">Branding</li>
        </ul>
    </div>

    <div class="row masonry-container">
        {% for post in posts %}
            {% include 'portfolio_item.twig' with {
                'url': post.url,
                'image': post.image.full,
                'title': post.title,
                'tags': post.tags,
                'tag_class': post.tag_class,
            } %}
        {% endfor %}
    </div>

</div>
