---
title: Skosh
template: default.twig
images: /uploads/projects/skosh
github: http://github.com/torann/skosh
edit_url: https://github.com/torann/lyften.com/tree/master/source/projects/skosh/_doc/{filename}
documentation: /projects/skosh/doc
---
{% include 'project_header.twig' with {'intro': 'Skosk is a static site generator written in PHP. It converts Markdown files, Textile, Twig templates or standard HTML into a static HTML site that can be easily deployed.'} %}

<div class="wrapper">
    <h2>Why Skosh?</h2>

    <p>
        <a href="https://packagist.org/packages/torann/skosh-generator"><img src="https://camo.githubusercontent.com/6c2a52745a385fec8d047ec293ce89f9b80de38d/68747470733a2f2f706f7365722e707567782e6f72672f746f72616e6e2f736b6f73682d67656e657261746f722f762f737461626c652e706e67" alt="Latest Stable Version" data-canonical-src="https://poser.pugx.org/torann/skosh-generator/v/stable.png" style="max-width:100%;"></a>
        <a href="https://packagist.org/packages/torann/skosh-generator"><img src="https://camo.githubusercontent.com/61664afd20ffa98340d8433d2874286716fe74d3/68747470733a2f2f706f7365722e707567782e6f72672f746f72616e6e2f736b6f73682d67656e657261746f722f646f776e6c6f6164732e706e67" alt="Total Downloads" data-canonical-src="https://poser.pugx.org/torann/skosh-generator/downloads.png" style="max-width:100%;"></a>
    </p>

    <p>PHP static site generator. Fast and easy to get started. If your language of choice is PHP, you'll feel right at home if you need to extend Skosh.</p>

    <p>Embedded Composer. Forget about managing library versions manually! Skosh embeds Composer to keep your source control focused and projects consistent.</p>

    <p>Twig templates. Twig is a full-featured modern template engine. It's simple to learn and it is extendable, documented, concise and flexible.</p>

    <p>Symfony's HTTP Kernel. Skosh is built on it. This lets you use Symfony Bundles to extend Skosh for any advanced functionality you need without extending Skosh directly.</p>
</div>