---
title: Laravel Promise
template: default.twig
images: /uploads/projects/laravel-promise
github: http://github.com/torann/laravel-promise
edit_url: https://github.com/torann/lyften.com/tree/master/source/projects/laravel-promise/_doc/{filename}
documentation: /projects/laravel-promise/doc
---
{% include 'project_header.twig' with {'intro': 'Simple Roles and Permissions for Laravel 4 & 5.'} %}

<div class="wrapper">
    <p>
        <a href="https://packagist.org/packages/torann/promise"><img src="https://camo.githubusercontent.com/d0f4665cb7d05418c8c5f061feddaf528d18feae/68747470733a2f2f706f7365722e707567782e6f72672f746f72616e6e2f70726f6d6973652f762f737461626c652e706e67" alt="Latest Stable Version" data-canonical-src="https://poser.pugx.org/torann/promise/v/stable.png" style="max-width:100%;"></a>
        <a href="https://packagist.org/packages/torann/promise"><img src="https://camo.githubusercontent.com/accebbc305040a7ff814fb8145d9076a6292b080/68747470733a2f2f706f7365722e707567782e6f72672f746f72616e6e2f70726f6d6973652f646f776e6c6f6164732e706e67" alt="Total Downloads" data-canonical-src="https://poser.pugx.org/torann/promise/downloads.png" style="max-width:100%;"></a>
        <a href="http://travis-ci.org/Torann/laravel-promise"><img src="https://camo.githubusercontent.com/afa4052dc65c3a555fada2429be75498329a7d3f/68747470733a2f2f6170692e7472617669732d63692e6f72672f546f72616e6e2f6c61726176656c2d70726f6d6973652e706e67" alt="Build Status" data-canonical-src="https://api.travis-ci.org/Torann/laravel-promise.png" style="max-width:100%;"></a>
    </p>

    <p>Promise provides a flexible way to add Role-based Permissions for Laravel. Built for speed and simplicity.</p>
</div>