---
title: MediaSort
template: default.twig
images: /uploads/projects/mediasort
github: http://github.com/torann/mediasort
---
{% include 'project_header.twig' with {'intro': 'MediaSort upload manager using Laravel 5\'s builtin Filesystem / Cloud Storage. Store your files locally, Amazon S3, or Rackspace.'} %}

<div class="wrapper">
    MediaSort takes advantage of the powerful Laravel Flysystem. The Laravel Flysystem integration provides simple to use drivers for working with local filesystems, Amazon S3, and Rackspace Cloud Storage. Even better, it's amazingly simple to switch between these storage options as the API remains the same for each system.
</div>