<div id="asideleft">
    <div class="navigation_background"></div>
    <div class="navigation">
        <ul>
            <li id="nav-logo">
                <a id="logo" href="/">Home</a>
            </li>
            <li>
                <a href="/"{{ isCurrent(page.url, '/projects/*|/portfolio/*') == false ? ' class="active"' : '' }}>
                    <span class="icon-blog"></span>
                    Blog
                </a>
            </li>
            <li>
                <a href="/projects"{{ isCurrent(page.url, '/projects/*') ? ' class="active"' : '' }}>
                    <span class="icon-beaker"></span>
                    Projects
                </a>
            </li>
            <li>
                <a href="/portfolio"{{ isCurrent(page.url, '/portfolio/*') ? ' class="active"' : '' }}>
                    <span class="icon-lightbulb"></span>
                    Portfolio
                </a>
            </li>
        </ul>
    </div>
</div>