<h2 class="c-title">RECENT PORTFOLIO.</h2>

<ul id="work-list" class="recent-works">
    <li>
        <a href="portfolio_full.html">
            <img src="images/portfolio/1.jpg" alt="">
            <h3>Cat Books</span>
            <span>Awesome, Beautiful</span>
        </a>
    </li>
    <li>
        <a href="portfolio_full.html">
            <img src="images/portfolio/2.jpg" alt="">
            <h3>Sukces Meat</h3>
            <span>Blog, Design</span>
        </a>
    </li>
    <li>
        <a href="portfolio_full.html">
            <img src="images/portfolio/3.jpg" alt="">
            <h3>Washington Post Kids TV</h3>
            <span>Blog, Wordpress</span>
        </a>
    </li>
</ul>
