---
title: About
description: Web developer with more than 6+ years experience building websites. Specializing in Laravel/PHP, MySQL/Postgres, SASS, and Javascript.
template: default.twig
---
<div class="page-title">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <h1><b>Hi. I'm Daniel Stainback</b><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste ratione molestias magni.</h1>
        </div>
    </div>
</div>

<div class="about">

    <div class="about-img">
        <img src="/assets/images/about-me.jpg" alt="">
    </div>

    <div class="about-content">

        <div class="about-info">
            <h3>About me</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus odio illo ullam assumenda qui, quia, aut temporibus incidunt placeat eum sint quos! Asperiores ipsum, quas quae aut! Laboriosam in deleniti ratione blanditiis nam, at quisquam voluptas, ad dolorum facere veniam nihil corrupti quos cum voluptatem ea nostrum nisi sunt, a dignissimos repellat voluptates! Minus veniam quibusdam adipisci ea magni quia velit repudiandae iure impedit enim. Asperiores eos natus nihil, rem beatae, labore quis, dolorum enim magni autem quas suscipit eligendi.</p>
        </div>

        {#<div class="about-clients">#}
            {#<h3>Clients</h3>#}

            {#<div class="row">#}
                {#<div class="col-md-2 col-sm-2 col-xs-6">#}
                    {#<img src="" alt="">#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    </div>

</div>
