---
title: Lyften.com
description: Web developer with more than 6+ years experience building websites. Specializing in Laravel/PHP, MySQL/Postgres, SASS, and Javascript.
template: default.twig
---
<div class="page-title">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <h1><b>Welcome.</b><br>Let's start this visit off with my projects.</h1>
        </div>
    </div>
</div>

<div class="portfolio">

    {#<div class="filters">#}
    {#<span>Filters :</span>#}
    {#<ul id="filters">#}
    {#<li class="active" data-filter="*">All</li>#}
    {#<li data-filter=".laravel">Laravel</li>#}
    {#<li data-filter=".php">Php</li>#}
    {#<li data-filter=".design">Design</li>#}
    {#<li data-filter=".photography">Photography</li>#}
    {#</ul>#}
    {#</div>#}

    <div class="row masonry-container">
        {% include 'project_item.twig' with {
        'url': '/projects/mediasort',
        'image': '/uploads/projects/mediasort/logo.png',
        'title': 'MediaSort',
        'description': 'Upload manager for Laravel',
        'tags': 'laravel php'
        } %}

        {% include 'project_item.twig' with {
        'url': '/projects/localization-helpers',
        'image': '/uploads/projects/localization-helpers/logo.png',
        'title': 'Localization Helpers',
        'description': 'Tools to help you manage translations',
        'tags': 'laravel php'
        } %}

        {% include 'project_item.twig' with {
        'url': '/projects/laravel-repository',
        'image': '/uploads/projects/laravel-repository/logo.png',
        'title': 'Laravel Repository',
        'description': 'Generic repository pattern',
        'tags': 'laravel php'
        } %}

        {% include 'project_item.twig' with {
        'url': '/projects/laravel-geoip',
        'image': '/uploads/projects/laravel-geoip/logo.png',
        'title': 'Laravel Geoip',
        'description': 'Visitors geographical data',
        'tags': 'laravel php'
        } %}

        {% include 'project_item.twig' with {
        'url': '/projects/laravel-currency',
        'image': '/uploads/projects/laravel-currency/logo.png',
        'title': 'Laravel Currency',
        'description': 'Currency functions for Laravel',
        'tags': 'laravel php'
        } %}

        {% include 'project_item.twig' with {
        'url': '/projects/laravel-moderate',
        'image': '/uploads/projects/laravel-moderate/logo.png',
        'title': 'Laravel Moderate',
        'description': 'Moderation system for Laravel',
        'tags': 'laravel php'
        } %}

        {% include 'project_item.twig' with {
        'url': '/projects/skosh',
        'image': '/uploads/projects/skosh/logo.png',
        'title': 'Skosh.',
        'description': 'Simple static site generator',
        'tags': 'php'
        } %}

        {% include 'project_item.twig' with {
        'url': '/projects/laravel-asana',
        'image': '/uploads/projects/laravel-asana/logo.png',
        'title': 'Laravel Asana',
        'description': 'Asana API Wrapper for Laravel',
        'tags': 'laravel php'
        } %}

        {% include 'project_item.twig' with {
        'url': '/projects/laravel-registry',
        'image': '/uploads/projects/laravel-registry/logo.png',
        'title': 'Laravel Registry',
        'description': 'Settings manager',
        'tags': 'laravel php'
        } %}

        {% include 'project_item.twig' with {
        'url': '/projects/laravel-promise',
        'image': '/uploads/projects/laravel-promise/logo.png',
        'title': 'Laravel Promise',
        'description': 'Roles and Permissions',
        'tags': 'laravel php'
        } %}

        {% include 'project_item.twig' with {
        'url': '/projects/laravel-weather',
        'image': '/uploads/projects/laravel-weather/logo.png',
        'title': 'Laravel Weather',
        'description': 'Weather forecast',
        'tags': 'laravel php'
        } %}

        {% include 'project_item.twig' with {
        'url': '/projects/duct',
        'image': '/uploads/projects/duct/logo.png',
        'title': 'Duct',
        'description': 'Asset management duckwork',
        'tags': 'laravel php'
        } %}

        {% include 'project_item.twig' with {
        'url': '/projects/lyftenbloggie',
        'image': '/uploads/projects/lyftenbloggie/logo.png',
        'title': 'LyftenBloggie',
        'description': 'Blogging for Joomla!',
        'tags': 'joomla php'
        } %}
    </div>
</div>