---
title: Resume
description: Web developer with more than 10+ years experience building websites. Specializing in Laravel/PHP, MySQL/Postgres, SASS, and Javascript.
template: default.twig
---
<div class="page-title">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <h1><b>Daniel Stainback</b><br>torann@gmail.com • Southington, CT USA</h1>
        </div>
    </div>
</div>

<div class="resume">

    <div class="row">
        <div class="col-xs-12 col-lg-3">
            <h2>Profile</h2>
        </div>

        <div class="col-xs-12 col-lg-9">
            <div class="resume-category">
                <p>As an experienced web designer and developer, my career experience has taught me the value of thorough design practices and elegant implementations. My background and military experience has given me a sharp eye and attention to detail, as well as a keen understanding of usability. With more than 10 years of professional experience in designing, developing, and deploying in various LNMP/LAMP/LAPP environments makes me a valuable back-end developer. Along with working knowledge and practice of various aspects of design, combined with my demonstrated JavaScript, SASS/CSS and HTML skills ensures that I can help-out and contribute to most any front-end work.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-lg-3">
            <h2>Work <br>Experience</h2>
        </div>

        <div class="col-xs-12 col-lg-9">
            <div class="resume-category">
                <div class="resume-position">
                    <h4>Aptean <small class="resume-role">Architect | Jan 2022 - Present</small></h4>

                    <p>Developed and maintain a multi-tenant and multi-database SaaS PLM web application that runs on Amazon Infrastructure, Amazon Elastic Beanstalk, RDS, EFS, SQS.</p>

                    <ul>
                        <li>Application build creation using CircleCI along with tests, coding standard checks, and translation validation & uploading to OneSky.</li>
                        <li>Versioned public API with semi-automated documentation generation using base database seeders and predefined datasets.</li>
                        <li>Customized Docker images for CircleCI and Production environments.</li>
                        <li>Customized vagrant box for local development work.</li>
                        <li>Custom bash scripts to help coordinate the deployment of QA releases, hotfixes, and production builds.</li>
                        <li>Internal Wiki of coding standards and feature docs/usage examples.</li>
                    </ul>
                </div>

                <div class="resume-position">
                    <h4>3-Prime <small class="resume-role">Senior Web Developer | Mar 2017 - Dec 2020</small></h4>

                    <p>Responsible for updating a legacy web application to use modern technology and coding standards, while implementing new features and UI elements.</p>

                    <ul>
                        <li>Written in PHP using the Laravel Framework running on Amazon Infrastructure, Amazon Elastic Beanstalk, RDS, EFS, SQS.</li>
                        <li>Internal Wiki of coding standards and feature docs/usage examples.</li>
                        <li>Build creation using CircleCI.</li>
                        <li>Automated static analysis and coding standard checks on pushed commits.</li>
                        <li>Create and maintain API endpoints for various web applications.</li>
                    </ul>
                </div>

                <div class="resume-position">
                    <h4>GoNation <small class="resume-role">Senior Web Developer | Apr 2015 - Mar 2017</small></h4>

                    <p>Responsible for the UI development of responsive builds in Laravel and FlightJS. Subscribed to modern workflows including automation via Gulp, Webpack, and version control via Git.</p>

                    <ul>
                        <li>Unit testing and build creation using CircleCI.</li>
                        <li>Written in PHP using the Laravel Framework running on Amazon Infrastructure, using RESTful, Facebook SDK, Amazon Elastic Beanstalk, S3, RDS.</li>
                        <li>Internal Wiki of coding standards and feature docs/usage examples.</li>
                    </ul>
                </div>

                <div class="resume-position">
                    <h4>SeeClickFix <small class="resume-role">Web Developer/Graphic Designer | Feb 2010 - Apr 2015</small></h4>

                    <p>Responsible for the site UX and design using CSS, HTML5, PHP, Ruby on Rails and Javascript with cross-browser compatibility. Designed business cards, posters, stationary and brochures. Developed custom branding for government and media partners to use in the SeeClickFix mobile app.</p>

                    <ul>
                        <li>Designed and coded application components in an Agile environment.</li>
                        <li>Wrote and maintained code (PHP, HTML, CSS, and JavaScript) for Government customer facing micro-sites</li>
                        <li>Developed and deployed a Snowcrew.org (which is no longer using my code)</li>
                        <li>Developed and deployed a email marketing and lead generation application</li>
                    </ul>

                    <h5>Projects</h5>
                    <ul>
                        <li>
                            <strong><a href="/portfolio/snowcrew.html">SnowCrew.org</a></strong><br>
                            <p>Snowcrew matches neighbors to neighbors to help shovel out in the next storm. With integration to SeeClickFix, National Weather Service, and various social networks.</p>
                        </li>
                        <li>
                            <strong><a href="/portfolio/govlove.html">GovLove</a></strong><br>
                            <p>Branding and discussion application for a podcast about local government hosted by Caroline Tanbee Smith, produced by Ryan Mannion and recorded in New Haven, CT.</p>
                        </li>
                        <li>
                            <strong><a href="/portfolio/swell.html">Swell</a></strong><br>
                            <p>Swell is an internal list management and sales automation system that lets you sort through the noise to uncover your leads. Built on top of Laravel with integration to #Slack and RelateIQ.</p>
                        </li>
                    </ul>
                </div>

                <div class="resume-position">
                    <h4>Freelance + Consultancy Services<small class="resume-role">Web Developer | Nov 2008 - May 2011</small></h4>

                    <p>Worked with local businesses in New Haven, CT including Bentara Restaurant, Central Steakhouse, and SeeClickFix.</p>
                </div>

                <div class="resume-position">
                    <h4>US Navy <small class="resume-role">Hospital Corpsman | Jul 2000 - Jul 2008</small></h4>

                    <ul>
                        <li>Conducted chemical analyses of body fluids, such as blood and urine, using automatic analyzer to detect abnormalities or diseases, and enter findings into Laboratory Information System.</li>

                        <li>Conducted manual analysis of body fluids, including blood, urine, and spinal fluid, to determine presence of normal and abnormal components.</li>

                        <li>Inoculated, cultivated, isolated, classified, and identified bacteria and other microorganisms present in body fluids, exudates, surface, and surgical specimens and performed various tests on these microorganisms.</li>

                        <li>Performed high complexity hematology and coagulation testing and cell interpretation to include analysis of peripheral smears by classifying white blood cells, morphological evaluation of red blood cells, platelet slide estimates and reticulocytes.</li>

                        <li>Performed immunohematologic tests and examination; blood typing, cross matching, antibody detection and identification.</li>

                        <li>Setup, adjusted, maintained and cleaned medical laboratory equipment. Performed quality assurance, quality control, inventory control tasks, and determined compliance with safety requirements.</li>

                        <li>Performed routine maintenance on equipment and determined necessary maintenance as needed.</li>

                        <li>Lead Hematology technician trained three new Hematology technicians and performed extensive QA/QI checks.</li>

                        <li>Utilized standard phlebotomy procedures, obtaining samples of blood to include blood cultures, collecting timed specimens, proper identification/documentation and drawing of blood bank specimens.</li>

                        <li>Accessioned specimens and performed other procedures necessary to ensure appropriate specimen receipt, handling and processing to ensure accurate, reliable laboratory results. Prepared specimens for testing in various clinical laboratory sections.</li>

                        <li>Made sound decisions independently, and took appropriate action to correct and solve problems.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-lg-3">
                <h2>Education</h2>
            </div>

            <div class="col-xs-12 col-lg-9">
                <div class="resume-category">
                    <div class="resume-position">
                        <h4>Thomas Nelson Community College <small class="resume-role">Clinical/Medical Laboratory Technician - 2004 - 2005</small></h4>

                        <p>Medical Laboratory Technician studies provided by the US Navy via a partnership with a local community college.</p>
                    </div>

                    <div class="resume-position">
                        <h4>Three Rivers Community College <small class="resume-role">General - 2003 - 2004</small></h4>

                        <p>General studies in preparation for the Medical Laboratory Technician program.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-lg-3">
                <h2>Technical Expertise</h2>
            </div>

            <div class="col-xs-12 col-lg-9">
                <div class="resume-category">
                    <div class="row">
                        <div class="col-xs-12 col-lg-4">
                            <h4>Professional Skillset</h4>

                            <ul class="resume-list">
                                <li>W3C Validated HTML5</li>
                                <li>CSS3 via Sass</li>
                                <li>jQuery, Javascript</li>
                                <li>Multilingual Application Development</li>
                            </ul>
                        </div>

                        <div class="col-xs-12 col-lg-4">
                            <h4>Working Knowledge</h4>

                            <ul class="resume-list">
                                <li>AWS</li>
                                <li>PHP</li>
                                <li>MVC frameworks (Laravel, Symfony2, Codeigniter)</li>
                                <li>MySQL/Postgres</li>
                            </ul>
                        </div>

                        <div class="col-xs-12 col-lg-4">
                            <h4>Tools</h4>

                            <ul class="resume-list">
                                <li>JetBrains IDEs</li>
                                <li>Adobe Creative Suite</li>
                                <li>Github</li>
                                <li>PHPSTan</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
